Programa Compilado/XML/XSD-Clasificacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="clasificacion" type="tipo_clasificacion"/>

<xs:complexType name="tipo_clasificacion">
    <xs:sequence>
        <xs:element name="fecha_expiracion" type="xs:date"/>
        <xs:element name="equipo" type="tipo_equipo" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tipo_equipo">
    <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="puntuacion" type="xs:int"/>
    </xs:sequence>
<xs:attribute name="id_equipo" type="xs:int"/>
</xs:complexType>




</xs:schema>